Repository cypress-io/cypress, pull requests merged in 2021-08, with the labels that each got.

#17477 fix: The content of `<script>` and `<style>` inside `<body>` should be ignored with `cy.contains`.
  packages/driver/cypress/fixtures/content-in-body.html
  packages/driver/cypress/integration/commands/querying_spec.js
  packages/driver/src/dom/elements.ts
Labels: type: breaking change

#17598 fix: reload every spec file when support updated
  npm/vite-dev-server/src/makeCypressPlugin.ts
Labels: component testing, npm: @cypress/vite-dev-server

#17496 feat: infer argument types in command implementations
  cli/types/cypress.d.ts
  cli/types/tests/cypress-tests.ts
Labels: type: breaking change

#17779 chore(server): move some files to TypeScript
  packages/server/lib/config.js
  packages/server/lib/config.ts
  packages/server/lib/project-base.ts
  packages/server/lib/util/args.js
  packages/server/lib/util/coerce.ts
  packages/server/lib/util/config.js
  packages/server/lib/util/config.ts
  packages/server/test/unit/coerce_spec.js
  packages/server/test/unit/config_spec.js
Labels: pkg/server

#17850 chore(server): change open_project to TS and define some interfaces
  packages/server-ct/index.ts
  packages/server-ct/test/unit/index.spec.ts
  packages/server/__snapshots__/0_reporters_spec.js
  packages/server/lib/automation/automation.ts
  packages/server/lib/cypress.js
  packages/server/lib/gui/events.js
  packages/server/lib/gui/files.ts
  packages/server/lib/modes/run-ct.js
  packages/server/lib/modes/run.js
  packages/server/lib/open_project.js
  packages/server/lib/open_project.ts
  packages/server/lib/project-base.ts
  packages/server/lib/project_utils.ts
  packages/server/test/integration/cypress_spec.js
  packages/server/test/unit/gui/events_spec.js
  packages/server/test/unit/gui/files_spec.ts
  packages/server/test/unit/modes/run_spec.js
  packages/server/test/unit/open_project_spec.js
Labels: pkg/server
