Repository cypress-io/cypress, pull requests merged in 2021-06, with the labels that each got.

#16732 chore: avoid rollup compiling spec files
  npm/design-system/rollup.config.js
Labels: design-system

#16731 chore: use cypress/browsers:node14.16.0-chrome90-ff88
  circle.yml
  packages/server/__snapshots__/5_headless_spec.ts.js
  packages/server/test/e2e/5_headless_spec.ts
  packages/server/test/e2e/6_video_compression_spec.js
  packages/server/test/support/helpers/e2e.ts
  patches/snap-shot-it+7.9.3.patch
  scripts/run-docker-local.sh
Labels: browser: firefox

#16756 fix(types): when user returns `any` type, `then` doesn't wrap it with `JQuery`.
  cli/types/cypress.d.ts
  cli/types/tests/cypress-tests.ts
Labels: type: breaking change

#16961 fix: case issue create cypress tests with `react/plugins/load-webpack`
  npm/create-cypress-tests/__snapshots__/reactWebpackFile.test.ts.js
  npm/create-cypress-tests/src/component-testing/templates/react/reactWebpackFile.ts
Labels: component testing

#16965 fix: ensure @cypress/schematic is installed as devDependency
  npm/cypress-schematic/package.json
Labels: npm: @cypress/schematic

#16950 fix: vite startDevServer needs to return close()
  npm/vite-dev-server/src/index.ts
Labels: component testing

#16962 feat: add ng generate to @cypress/schematic to generate e2e spec files
  circle.yml
  npm/cypress-schematic/.releaserc.js
  npm/cypress-schematic/README.md
  npm/cypress-schematic/package.json
  npm/cypress-schematic/src/builders/cypress/cypressBuilderOptions.ts
  npm/cypress-schematic/src/builders/cypress/index.ts
  npm/cypress-schematic/src/schematics/collection.json
  npm/cypress-schematic/src/schematics/cypress/files/cypress/plugins/index.js
  npm/cypress-schematic/src/schematics/ng-add/files/cypress.json
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/integration/spec.ts
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/plugins/index.ts
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/support/commands.ts
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/support/index.ts
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/tsconfig.json
  npm/cypress-schematic/src/schematics/ng-add/index.spec.ts
  npm/cypress-schematic/src/schematics/ng-add/index.ts
  npm/cypress-schematic/src/schematics/ng-add/schema.json
  npm/cypress-schematic/src/schematics/ng-generate/e2e/index.spec.ts
  npm/cypress-schematic/src/schematics/ng-generate/e2e/index.ts
  npm/cypress-schematic/src/schematics/ng-generate/e2e/schema.json
  npm/cypress-schematic/src/schematics/ng-generate/e2e/schema.ts
  npm/cypress-schematic/src/schematics/ng-generate/files/__path__/__name@dasherize__.spec.ts.template
  npm/cypress-schematic/src/schematics/utility/dependencies.ts
  npm/cypress-schematic/src/schematics/utility/index.ts
  npm/cypress-schematic/src/schematics/utility/jsonFile.ts
  npm/cypress-schematic/tsconfig.json
  npm/cypress-schematic/tsconfig.spec.json
Labels: npm: @cypress/schematic

#17090 fix: make dev-server error message appear only once when CT is not configured
  packages/server-ct/index.ts
  packages/server/lib/errors.js
  packages/server/lib/modes/interactive-ct.js
  packages/server/lib/plugins/dev-server.js
Labels: component testing

#17141 fix: plugin file in angular schematics
  npm/cypress-schematic/src/schematics/ng-add/files/cypress/plugins/index.ts
Labels: npm: @cypress/schematic
