Repository cypress-io/cypress, pull requests merged in 2021-05, with the labels that each got.

#16290 fix: accept webapck 4 & 5 as peer dependencies of @cypress/vue and @cypress/react
  npm/react/package.json
  npm/vue/package.json
Labels: component testing

#16333 feat(npm/react): Add craco plugin
  npm/react/examples/craco/README.md
  npm/react/examples/craco/craco.config.js
  npm/react/examples/craco/cypress.json
  npm/react/examples/craco/cypress/fixtures/example.json
  npm/react/examples/craco/cypress/plugins/index.js
  npm/react/examples/craco/cypress/support/commands.js
  npm/react/examples/craco/cypress/support/index.js
  npm/react/examples/craco/package.json
  npm/react/examples/craco/public/favicon.ico
  npm/react/examples/craco/public/index.html
  npm/react/examples/craco/public/logo192.png
  npm/react/examples/craco/public/logo512.png
  npm/react/examples/craco/public/manifest.json
  npm/react/examples/craco/src/App.less
  npm/react/examples/craco/src/App.test.tsx
  npm/react/examples/craco/src/App.tsx
  npm/react/examples/craco/src/index.css
  npm/react/examples/craco/src/index.tsx
  npm/react/examples/craco/src/logo.svg
  npm/react/examples/craco/src/react-app-env.d.ts
  npm/react/examples/craco/src/reportWebVitals.ts
  npm/react/examples/craco/tsconfig.json
  npm/react/plugins/craco/index.js
Labels: npm: @cypress/react

#16372 fix(component-testing): Prevent Firefox from opening custom search when pressing /
  packages/runner-ct/src/lib/useHotKey.ts
Labels: component testing

#16374 fix: multiple fixes in npm/creacte-cypress-tests
  npm/create-cypress-tests/__snapshots__/init-component-testing.test.ts.js
  npm/create-cypress-tests/__snapshots__/rollup.test.ts.js
  npm/create-cypress-tests/__snapshots__/vite.test.ts.js
  npm/create-cypress-tests/__snapshots__/vueCli.test.ts.js
  npm/create-cypress-tests/__snapshots__/vueVite.test.ts.js
  npm/create-cypress-tests/__snapshots__/vueWebpackFile.test.ts.js
  npm/create-cypress-tests/src/component-testing/init-component-testing.test.ts
  npm/create-cypress-tests/src/component-testing/installFrameworkAdapter.ts
  npm/create-cypress-tests/src/component-testing/templates/_shared/index.ts
  npm/create-cypress-tests/src/component-testing/templates/_shared/rollup.test.ts
  npm/create-cypress-tests/src/component-testing/templates/_shared/rollup.ts
  npm/create-cypress-tests/src/component-testing/templates/_shared/vite.ts
  npm/create-cypress-tests/src/component-testing/templates/guessTemplate.ts
  npm/create-cypress-tests/src/component-testing/templates/vue/vueCli.ts
  npm/create-cypress-tests/src/component-testing/templates/vue/vueWebpackFile.ts
  npm/create-cypress-tests/src/main.ts
Labels: component testing

#16351 chore(design-system): Added missing exports and index.ts
  npm/design-system/src/core/button/index.ts
  npm/design-system/src/core/index.ts
  npm/design-system/src/core/input/IconInput.tsx
  npm/design-system/src/core/input/InputBase.tsx
  npm/design-system/src/core/input/index.ts
  npm/design-system/src/core/surface/index.ts
  npm/design-system/src/core/text/index.ts
  npm/design-system/src/index.ts
  npm/design-system/src/util/types.ts
Labels: design-system

#16368 feat(component-testing): Expose CT through CLI module API
  cli/README.md
  cli/__snapshots__/errors_spec.js
  cli/__snapshots__/run_spec.js
  cli/lib/cli.js
  cli/lib/errors.js
  cli/lib/exec/open.js
  cli/lib/exec/run.js
  cli/lib/exec/shared.js
  cli/test/lib/exec/open_spec.js
  cli/test/lib/exec/run_spec.js
  cli/types/cypress-npm-api.d.ts
Labels: component testing

#16388 feat: exclude html pwa plugin in webpack dev server
  npm/webpack-dev-server/src/makeWebpackConfig.ts
Labels: component testing, npm: @cypress/webpack-dev-server

#16423 fix: Properly retry fuzzy search test commands
  packages/runner-ct/cypress/component/SpecList.spec.tsx
Labels: component testing

#16416 fix: encodeURI to correctly load specs with white space
  npm/webpack-dev-server/src/loader.ts
  packages/runner-ct/cypress/component/Spec With Whitespace.spec.tsx
  packages/runner-ct/cypress/component/utils.ts
  packages/runner-ct/src/lib/state.ts
Labels: component testing, npm: @cypress/webpack-dev-server

#16414 feat: support webpack dev server v4
  npm/webpack-dev-server/package.json
  npm/webpack-dev-server/src/index.ts
  npm/webpack-dev-server/src/startServer.ts
  npm/webpack-dev-server/tsconfig.json
Labels: component testing, npm: @cypress/webpack-dev-server

#16585 fix: Prevent mount .wrap command appearing in log
  npm/react/src/mount.ts
Labels: component testing

#16543 fix(runner-ct): viewport scaling during screenshots
  packages/runner-ct/cypress/component/screenshot.spec.tsx
  packages/runner-ct/src/app/RunnerCt.scss
  packages/runner-ct/src/app/useScreenshotHandler.tsx
  packages/runner-ct/src/iframe/iframes.jsx
  packages/runner-ct/src/iframe/iframes.scss
Labels: component testing

#16614 chore(runner-ct): TS and React improvements
  packages/runner-ct/src/app/SpecContent.tsx
  packages/runner-ct/src/header/header.tsx
  packages/runner-ct/src/iframe/iframes.tsx
  packages/runner-ct/src/lib/state.ts
  yarn.lock
Labels: component testing

#16644 feat(npm/react): allow custom webpack config path for react-scripts plugin
  npm/react/plugins/react-scripts/findReactScriptsWebpackConfig.js
  npm/react/plugins/react-scripts/index.js
  npm/react/plugins/utils/eslint-helpers.js
  npm/react/plugins/utils/webpack-helpers.js
Labels: npm: @cypress/react

#16728 ci: deliver vue3 on master
  circle.yml
  npm/vite-dev-server/package.json
  npm/vue/.releaserc.js
  npm/vue/CHANGELOG.md
  npm/vue/cypress/component/advanced/access-component/message-spec.js
  npm/vue/cypress/component/advanced/i18n/spec.js
  npm/vue/cypress/component/advanced/render-functions/spec.js
  npm/vue/cypress/component/basic/filters/README.md
  npm/vue/cypress/component/basic/filters/reverse.js
  npm/vue/cypress/component/basic/filters/spec.js
  npm/vue/cypress/component/basic/options-spec.js
  npm/vue/cypress/component/basic/plugins/MyPlugin.js
  npm/vue/cypress/component/basic/plugins/MyPluginWithOptions.js
  npm/vue/cypress/component/basic/plugins/plugin-spec.js
  npm/vue/cypress/component/basic/props/message-list-spec.js
  npm/vue/cypress/component/basic/slots/Card.spec.js
  npm/vue/cypress/component/basic/spec.js
  npm/vue/cypress/component/button/button-counter-spec.js
  npm/vue/cypress/component/counter-vuex/counter-vuex-spec.js
  npm/vue/cypress/component/counter-vuex/store.js
  npm/vue/cypress/component/router-example/PizzaShop/Home.vue
  npm/vue/cypress/component/router-example/PizzaShop/router.js
  npm/vue/cypress/component/router-example/router-spec.js
  npm/vue/cypress/plugins/index.js
  npm/vue/examples.env
  npm/vue/examples/code-coverage/package.json
  npm/vue/examples/code-coverage/webpack.config.js
  npm/vue/examples/code-coverage/yarn.lock
  npm/vue/examples/nuxt/.editorconfig
  npm/vue/examples/nuxt/.gitignore
  npm/vue/examples/nuxt/README.md
  npm/vue/examples/nuxt/assets/README.md
  npm/vue/examples/nuxt/components/Logo.spec.ts
  npm/vue/examples/nuxt/components/Logo.vue
  npm/vue/examples/nuxt/components/README.md
  npm/vue/examples/nuxt/cypress.json
  npm/vue/examples/nuxt/cypress/plugins/index.js
  npm/vue/examples/nuxt/layouts/README.md
  npm/vue/examples/nuxt/layouts/default.vue
  npm/vue/examples/nuxt/middleware/README.md
  npm/vue/examples/nuxt/nuxt.config.js
  npm/vue/examples/nuxt/package.json
  npm/vue/examples/nuxt/pages/README.md
  npm/vue/examples/nuxt/pages/index.vue
  npm/vue/examples/nuxt/plugins/README.md
  npm/vue/examples/nuxt/shims-vue.d.ts
  npm/vue/examples/nuxt/static/README.md
  npm/vue/examples/nuxt/static/favicon.ico
  npm/vue/examples/nuxt/store/README.md
  npm/vue/examples/nuxt/tsconfig.json
  npm/vue/examples/nuxt/yarn.lock
  npm/vue/examples/vue-cli/package.json
  npm/vue/examples/vue-cli/yarn.lock
  npm/vue/package.json
  npm/vue/rollup.config.js
  npm/vue/src/index.ts
  npm/vue/src/plugins/webpack/index.js
  npm/vue/src/support.js
  npm/vue/webpack.config.js
  yarn.lock
Labels: component testing, npm: @cypress/vue
