Repository cypress-io/cypress, pull requests merged in 2022-07, with the labels that each got.

#22341 chore(sessions): update command to use internal logGroup api
  circle.yml
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/types/cy/logGroup.d.ts
  packages/driver/types/cypress/log.d.ts
  packages/reporter/src/hooks/hook-model.ts
Labels: experiment: session

#22568 feat: add experimentalModifyObstructiveThirdPartyCode flag for regex rewriter
  cli/types/cypress.d.ts
  packages/config/__snapshots__/index.spec.ts.js
  packages/config/src/options.ts
  packages/driver/cypress/e2e/e2e/origin/integrity.cy.ts
  packages/driver/cypress/e2e/e2e/origin/patches.cy.ts
  packages/driver/cypress/fixtures/integrity.css
  packages/driver/cypress/fixtures/integrity.js
  packages/driver/cypress/fixtures/primary-origin.html
  packages/driver/cypress/fixtures/scripts-with-integrity.html
  packages/driver/cypress/fixtures/secondary-origin.html
  packages/driver/package.json
  packages/driver/src/cross-origin/cypress.ts
  packages/driver/src/cross-origin/patches/cookies.js
  packages/driver/src/cross-origin/patches/setAttribute.ts
  packages/driver/src/cross-origin/patches/submit.ts
  packages/driver/src/cy/top_attr_guards.ts
  packages/driver/src/dom/elements/types.ts
  packages/proxy/lib/http/response-middleware.ts
  packages/proxy/lib/http/util/regex-rewriter.ts
  packages/proxy/lib/http/util/rewriter.ts
  packages/proxy/package.json
  packages/proxy/test/unit/http/response-middleware.spec.ts
  packages/proxy/test/unit/http/util/regex-rewriter.spec.ts
  packages/rewriter/__snapshots__/html-spec.ts.js
  packages/rewriter/lib/constants.json
  packages/rewriter/lib/html-rules.ts
  packages/rewriter/lib/index.ts
  packages/runner/injection/cross-origin.js
  packages/runner/package.json
  packages/server/index.d.ts
  packages/server/test/unit/config_spec.js
  packages/ts/tsconfig.json
  yarn.lock
Labels: cy.origin

#22955 refactor: improve angular mount log and override build options for dev
  npm/angular/src/mount.ts
  npm/webpack-dev-server/src/helpers/angularHandler.ts
  npm/webpack-dev-server/test/handlers/angularHandler.spec.ts
Labels: stage: internal

#22958 feat: add modify obstructive user agent code for electron to strip el…
  packages/driver/cypress/e2e/e2e/origin/user_agent_override.cy.ts
  packages/server/lib/browsers/electron.js
  packages/server/lib/open_project.ts
  packages/server/test/unit/browsers/electron_spec.js
  packages/types/src/config.ts
Labels: cy.origin, E2E-auth
