Repository cypress-io/cypress, pull requests merged in 2022-08, with the labels that each got.

#23146 fix: clear session state when changing specs in open mode
  npm/eslint-plugin-dev/test/no-return-before.spec.js
  npm/eslint-plugin-dev/test/skip-comment.spec.js
  npm/webpack-preprocessor/test/e2e/helpers.js
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/app/cypress/e2e/support/execute-spec.ts
  packages/app/src/pages/Specs/Runner.vue
  packages/app/src/runner/SnapshotControls.cy.tsx
  packages/app/src/runner/event-manager.ts
  packages/app/src/runner/index.ts
  packages/app/src/runner/useEventManager.ts
  packages/driver/src/cypress.ts
  packages/driver/src/dom/selection.ts
  packages/server/lib/socket-base.ts
  scripts/gulp/utils/childProcessUtils.ts
  system-tests/projects/hooks-after-rerun/cypress/e2e/runnable-run-count.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/new_session.cy.js
Labels: experiment: session

#23006 fix: escape backslashes in downloadFolder for Firefox on Windows #17896
  packages/server/lib/browsers/firefox.ts
  packages/server/test/unit/browsers/firefox_spec.ts
Labels: type: bug, OS: windows, browser: firefox

#23347 fix: persist registered spec sessions
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/driver/cypress/e2e/commands/sessions/manager.cy.ts
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/src/cy/commands/sessions/manager.ts
  system-tests/__snapshots__/session_spec.ts.js
  system-tests/projects/e2e/cypress/e2e/session.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/restores_saved_session.cy.js
Labels: type: bug, experiment: session

#23325 fix: match full spec path and improve search results
  packages/app/src/specs/DirectoryItem.vue
  packages/app/src/specs/InlineSpecList.cy.tsx
  packages/app/src/specs/InlineSpecListTree.vue
  packages/app/src/specs/RowDirectory.vue
  packages/app/src/specs/SpecFileItem.vue
  packages/app/src/specs/SpecItem.vue
  packages/app/src/specs/SpecsList.cy.tsx
  packages/app/src/specs/SpecsList.vue
  packages/app/src/specs/spec-utils.ts
  packages/graphql/schemas/schema.graphql
Labels: CT

#23387 build(angular): publish @cypress/angular to npm
  npm/angular/README.md
  npm/angular/package.json
Labels: npm: @cypress/angular

#23439 fix: prevent deliver global Nullable type
  cli/types/cypress-type-helpers.d.ts
  cli/types/cypress.d.ts
  packages/driver/src/cy/keyboard.ts
  packages/driver/src/cy/testConfigOverrides.ts
Labels: type: enhancement, E2E-core

#23503 perf(cy.session): keep page state after validation runs
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/driver/cypress/e2e/commands/navigation.cy.js
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/cypress/e2e/e2e/origin/commands/navigation.cy.ts
  packages/driver/src/cy/commands/navigation.ts
  packages/driver/src/cy/commands/sessions/index.ts
  system-tests/projects/e2e/cypress/e2e/session.cy.js
Labels: experiment: session

#23634 fix: run "before:spec" plugin event when experimentalInteractiveRunEvents is enabled
  packages/app/cypress/e2e/runner/pluginEvents.cy.ts
  packages/app/src/runner/event-manager.ts
  packages/app/src/runner/index.ts
  packages/server/lib/modes/run.ts
  packages/server/lib/open_project.ts
  packages/server/lib/socket-base.ts
  packages/server/test/unit/open_project_spec.js
  system-tests/__snapshots__/plugin_run_events_spec.ts.js
  system-tests/projects/plugin-run-events/cypress.config.js
Labels: type: bug
