Repository cypress-io/cypress, pull requests merged in 2022-05, with the labels that each got.

#21338 chore(sessions): add additional tests
  packages/driver/cypress/integration/commands/sessions/sessions.spec.js
  packages/driver/package.json
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/src/cypress.ts
  packages/driver/src/cypress/error_messages.ts
  packages/reporter/cypress/integration/test_errors_spec.ts
  packages/reporter/src/attempts/attempts.tsx
  packages/reporter/src/test/test.tsx
  packages/runner/cypress/integration/retries.ui.spec.js
  packages/runner/cypress/integration/sessions.ui.spec.js
  system-tests/__snapshots__/session_spec.ts.js
  system-tests/package.json
  system-tests/projects/e2e/cypress/integration/session_spec.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/multiple_sessions.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/new_session.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/new_session_and_fails_validation.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/new_session_with_validation.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/recreates_session.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/recreates_session_and_fails_validation.cy.js
  system-tests/projects/runner-e2e-specs/cypress/e2e/sessions/restores_saved_session.cy.js
Labels: experiment: session, E2E-auth

#21305 chore: Distribute tests to desktop-gui containers. Make `desktop-gui` tests faster!
  circle.yml
Labels: E2E-core

#21283 chore: Re-organize tests in assertions_spec.js
  packages/driver/cypress/integration/commands/assertions_spec.js
Labels: E2E-core

#21413 chore: rename domain_fn to origin_fn
  packages/driver/src/cross-origin/cypress.ts
  packages/driver/src/cross-origin/origin_fn.ts
Labels: cy.origin

#21634 fix: clean up the primaryOriginCommunicator when the iframe is torndown to…
  packages/app/cypress/e2e/cypress-origin-communicator.cy.ts
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/app/cypress/e2e/runner/support/spec-loader.ts
  packages/app/src/runner/event-manager.ts
  system-tests/projects/session-and-origin-e2e-specs/cypress.config.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/origin/simple_origin.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/blank_session.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/multiple_sessions.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/new_session.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/new_session_and_fails_validation.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/new_session_with_validation.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/recreated_session.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/recreates_session.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/recreates_session_and_fails_validation.cy.js
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/restores_saved_session.cy.js
Labels: cy.origin
