Repository cypress-io/cypress, pull requests merged in 2022-12, with the labels that each got.

#24935 feat(12): change testIsolation values from on/off to true/false
  cli/types/cypress.d.ts
  cli/types/tests/cypress-tests.ts
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/app/src/runner/aut-iframe.ts
  packages/app/src/runner/event-manager-types.ts
  packages/app/src/runner/useEventManager.ts
  packages/config/__snapshots__/index.spec.ts.js
  packages/config/src/options.ts
  packages/config/src/project/utils.ts
  packages/config/test/index.spec.ts
  packages/config/test/project/utils.spec.ts
  packages/driver/cypress/e2e/commands/navigation.cy.js
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/cypress/e2e/commands/sessions/utils.cy.js
  packages/driver/cypress/e2e/util/config.cy.js
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/src/cy/commands/sessions/utils.ts
  system-tests/projects/e2e/cypress/e2e/testConfigOverrides/invalid.js
  system-tests/projects/e2e/cypress/e2e/testConfigOverrides/valid-suite-only.js
Labels: Test Isolation

#25112 fix: recollect session data after validation is successful
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/cypress/fixtures/auth/index.html
  packages/driver/src/cy/commands/sessions/index.ts
Labels: type: bug, experiment: session

#25036 fix: updates to ci params sent to cloud for jenkins
  packages/server/lib/util/ci_provider.js
  packages/server/test/unit/util/ci_provider_spec.js
Labels: CI: jenkins, Cypress Cloud
