Repository cypress-io/cypress, pull requests merged in 2022-10, with the labels that each got.

#23872 feat: Improve simulated top cookie handling
  packages/app/src/runner/aut-iframe.ts
  packages/app/src/runner/event-manager.ts
  packages/app/src/runner/index.ts
  packages/driver/cypress/e2e/commands/location.cy.js
  packages/driver/cypress/e2e/commands/navigation.cy.js
  packages/driver/cypress/e2e/cypress/location.cy.js
  packages/driver/cypress/e2e/e2e/origin/commands/location.cy.ts
  packages/driver/cypress/e2e/e2e/origin/cookie_behavior.cy.ts
  packages/driver/cypress/e2e/e2e/origin/patches.cy.ts
  packages/driver/cypress/e2e/e2e/origin/snapshots.cy.ts
  packages/driver/cypress/fixtures/primary-origin.html
  packages/driver/cypress/fixtures/xhr-fetch-onload.html
  packages/driver/cypress/fixtures/xhr-fetch-requests.html
  packages/driver/src/cross-origin/communicator.ts
  packages/driver/src/cross-origin/cypress.ts
  packages/driver/src/cross-origin/events/misc.ts
  packages/driver/src/cross-origin/patches/fetch.ts
  packages/driver/src/cross-origin/patches/utils/index.ts
  packages/driver/src/cross-origin/patches/xmlHttpRequest.ts
  packages/driver/src/cy/commands/navigation.ts
  packages/driver/src/cy/commands/origin/index.ts
  packages/driver/src/cy/commands/waiting.ts
  packages/driver/src/cy/ensures.ts
  packages/driver/src/cypress/error_messages.ts
  packages/driver/src/cypress/location.ts
  packages/driver/src/cypress/log.ts
  packages/driver/src/cypress/state.ts
  packages/extension/app/background.js
  packages/extension/test/integration/background_spec.js
  packages/network/lib/cors.ts
  packages/network/lib/types.ts
  packages/network/test/unit/cors_spec.ts
  packages/proxy/lib/http/index.ts
  packages/proxy/lib/http/request-middleware.ts
  packages/proxy/lib/http/response-middleware.ts
  packages/proxy/lib/http/util/cookies.ts
  packages/proxy/lib/http/util/top-simulation.ts
  packages/proxy/lib/types.ts
  packages/proxy/test/unit/http/request-middleware.spec.ts
  packages/proxy/test/unit/http/response-middleware.spec.ts
  packages/proxy/test/unit/http/util/cookies.spec.ts
  packages/proxy/test/unit/http/util/top-simulation.spec.ts
  packages/server/lib/browsers/chrome.ts
  packages/server/lib/browsers/electron.ts
  packages/server/lib/controllers/files.js
  packages/server/lib/remote_states.ts
  packages/server/lib/server-base.ts
  packages/server/lib/server-e2e.ts
  packages/server/lib/socket-base.ts
  packages/server/lib/util/resourceTypeAndCredentialManager.ts
  packages/server/test/integration/server_spec.js
  packages/server/test/unit/browsers/chrome_spec.js
  packages/server/test/unit/browsers/electron_spec.js
  packages/server/test/unit/remote_states.spec.ts
  packages/server/test/unit/util/resourceTypeAndCredential_spec.ts
Labels: topic: cookies :cookie:, experiment: origin

#23596 fix(angular): call ngOnChanges after mount
  npm/angular/src/mount.ts
  system-tests/project-fixtures/angular/src/app/components/lifecycle.component.ts
  system-tests/project-fixtures/angular/src/app/mount.cy.ts
Labels: CT, routed-to-ct

#20302 fix: Make querystrings consistent
  packages/driver/cypress/e2e/commands/request.cy.js
  packages/driver/src/cy/commands/request.ts
Labels: type: breaking change

#24312 chore(session): require setup function to use session command
  cli/types/cypress.d.ts
  cli/types/tests/cypress-tests.ts
  packages/app/cypress/e2e/runner/sessions.ui.cy.ts
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/cypress/e2e/e2e/origin/commands/unsupported_commands.cy.ts
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/src/cypress/error_messages.ts
  system-tests/projects/session-and-origin-e2e-specs/cypress/e2e/session/restores_saved_session.cy.js
Labels: experiment: session
