Repository cypress-io/cypress, pull requests merged in 2022-09, with the labels that each got.

#23646 fix: suite-level-only configuration does not throw when config is restored
  circle.yml
  packages/driver/cypress/e2e/util/config.cy.js
  packages/driver/src/cy/testConfigOverrides.ts
  packages/driver/src/util/config.ts
  system-tests/__snapshots__/testConfigOverrides_spec.ts.js
  system-tests/projects/e2e/cypress/e2e/testConfigOverrides/valid-suite-only.js
  system-tests/test/testConfigOverrides_spec.ts
Labels: type: bug, experiment: session

#23600 chore(server): enable caching global session state
  packages/app/src/runner/event-manager.ts
  packages/data-context/src/data/ProjectConfigManager.ts
  packages/data-context/src/sources/HtmlDataSource.ts
  packages/driver/cypress/e2e/commands/sessions/manager.cy.ts
  packages/driver/src/cy/commands/navigation.ts
  packages/driver/src/cy/commands/sessions/manager.ts
  packages/driver/src/cy/commands/sessions/utils.ts
  packages/driver/src/cypress.ts
  packages/driver/types/cy/commands/session.d.ts
  packages/proxy/lib/http/response-middleware.ts
  packages/reporter/src/header/stats-store.ts
  packages/reporter/src/lib/events.ts
  packages/reporter/src/sessions/sessions.tsx
  packages/runner/src/studio/index.js
  packages/server/lib/config.ts
  packages/server/lib/experiments.ts
  packages/server/lib/session.ts
  packages/server/lib/socket-base.ts
  packages/server/test/integration/http_requests_spec.js
  packages/server/test/integration/server_spec.js
  packages/server/test/performance/proxy_performance_spec.js
  packages/server/test/unit/project_spec.js
  packages/server/test/unit/server_spec.js
  packages/server/test/unit/socket_spec.js
  packages/types/src/driver.ts
  packages/types/src/index.ts
  packages/types/src/preferences.ts
  packages/types/src/reporter.ts
Labels: experiment: session

#23602 feat(reporter): update session instrument panel
  packages/app/src/runner/event-manager.ts
  packages/driver/cypress/e2e/commands/sessions/sessions.cy.js
  packages/driver/cypress/e2e/commands/sessions/utils.cy.js
  packages/driver/src/cy/commands/sessions/index.ts
  packages/driver/src/cy/commands/sessions/utils.ts
  packages/driver/src/cypress/log.ts
  packages/driver/types/cy/logGroup.d.ts
  packages/frontend-shared/src/assets/icons/globe_x12.svg
  packages/reporter/src/attempts/attempt-model.ts
  packages/reporter/src/attempts/attempts.scss
  packages/reporter/src/collapsible/collapsible.scss
  packages/reporter/src/commands/command-model.ts
  packages/reporter/src/commands/command.tsx
  packages/reporter/src/instruments/instruments.scss
  packages/reporter/src/lib/events.ts
  packages/reporter/src/lib/tag.scss
  packages/reporter/src/runnables/runnables-store.ts
  packages/reporter/src/sessions/sessions-model.ts
  packages/reporter/src/sessions/sessions.cy.tsx
  packages/reporter/src/sessions/sessions.scss
  packages/reporter/src/sessions/sessions.tsx
  packages/reporter/src/test/test-model.ts
  packages/server/test/integration/server_spec.js
Labels: experiment: session

#23820 fix: properly replace integrity tags in script resources when experimentalModifyObstructiveThirdPartyCode is true
  packages/proxy/lib/http/util/regex-rewriter.ts
  packages/proxy/test/unit/http/util/regex-rewriter.spec.ts
Labels: experimental: modify third party code
