Repository cypress-io/cypress, pull requests merged in 2024-11, with the labels that each got.

#30499 breaking: remove nuxt2 support from Cypress Component Testing
  .gitignore
  cli/CHANGELOG.md
  cli/types/cypress.d.ts
  cli/types/tests/cypress-npm-api-test.ts
  npm/webpack-dev-server/cypress/e2e/nuxt.cy.ts
  npm/webpack-dev-server/src/devServer.ts
  npm/webpack-dev-server/src/helpers/nuxtHandler.ts
  npm/webpack-dev-server/src/helpers/sourceRelativeWebpackModules.ts
  npm/webpack-dev-server/test/handlers/nuxtHandler.spec.ts
  packages/app/cypress/e2e/runner/ct-framework-errors.cy.ts
  packages/app/cypress/e2e/runner/reporter-ct-mount-hover.cy.ts
  packages/app/src/specs/banners/ComponentTestingAvailableBanner.cy.tsx
  packages/data-context/test/unit/sources/WizardDataSource.spec.ts
  packages/frontend-shared/src/assets/logos/nuxt.svg
  packages/frontend-shared/src/utils/icons.ts
  packages/launchpad/cypress/e2e/scaffold-component-testing.cy.ts
  packages/scaffold-config/README.md
  packages/scaffold-config/src/dependencies.ts
  packages/scaffold-config/src/frameworks.ts
  system-tests/project-fixtures/nuxtjs2/components/Tutorial.cy.js
  system-tests/project-fixtures/nuxtjs2/components/Tutorial.vue
  system-tests/project-fixtures/nuxtjs2/cypress.config.ts
  system-tests/project-fixtures/nuxtjs2/cypress/support/component-index.html
  system-tests/project-fixtures/nuxtjs2/cypress/support/component.js
  system-tests/project-fixtures/nuxtjs2/nuxt.config.js
  system-tests/project-fixtures/nuxtjs2/pages/index.vue
  system-tests/projects/nuxtjs-vue2-configured/.editorconfig
  system-tests/projects/nuxtjs-vue2-configured/README.md
  system-tests/projects/nuxtjs-vue2-configured/components/Errors.cy.js
  system-tests/projects/nuxtjs-vue2-configured/components/Errors.vue
  system-tests/projects/nuxtjs-vue2-configured/components/Tutorial.cy.js
  system-tests/projects/nuxtjs-vue2-configured/components/Tutorial.vue
  system-tests/projects/nuxtjs-vue2-configured/cypress.config.js
  system-tests/projects/nuxtjs-vue2-configured/cypress/support/component-index.html
  system-tests/projects/nuxtjs-vue2-configured/cypress/support/component.js
  system-tests/projects/nuxtjs-vue2-configured/nuxt.config.js
  system-tests/projects/nuxtjs-vue2-configured/package.json
  system-tests/projects/nuxtjs-vue2-configured/pages/index.vue
  system-tests/projects/nuxtjs-vue2-configured/static/favicon.ico
  system-tests/projects/nuxtjs-vue2-configured/store/README.md
  system-tests/projects/nuxtjs-vue2-configured/yarn.lock
  system-tests/projects/nuxtjs-vue2-unconfigured/.editorconfig
  system-tests/projects/nuxtjs-vue2-unconfigured/README.md
  system-tests/projects/nuxtjs-vue2-unconfigured/components/Tutorial.vue
  system-tests/projects/nuxtjs-vue2-unconfigured/cypress/support/component.js
  system-tests/projects/nuxtjs-vue2-unconfigured/nuxt.config.js
  system-tests/projects/nuxtjs-vue2-unconfigured/package.json
  system-tests/projects/nuxtjs-vue2-unconfigured/pages/index.vue
  system-tests/projects/nuxtjs-vue2-unconfigured/static/favicon.ico
  system-tests/projects/nuxtjs-vue2-unconfigured/store/README.md
  system-tests/projects/nuxtjs-vue2-unconfigured/yarn.lock
  system-tests/projects/nuxtjs2/package.json
  system-tests/projects/nuxtjs2/yarn.lock
  system-tests/test/component_testing_spec.ts
Labels: type: breaking change

#30515 chore: remove react dependency from the server as it looks unused
  packages/server/package.json
Labels: pkg/reporter

#30514 chore: update `mobx` from `5.15.4` to `6.13.5` and `mobx-react` from `6.1.8` to `9.1.1` inside @packages/reporter
  .circleci/cache-version.txt
  .circleci/workflows.yml
  cli/CHANGELOG.md
  packages/app/package.json
  packages/app/src/store/mobx-runner-store.ts
  packages/app/tsconfig.json
  packages/reporter/package.json
  packages/reporter/src/agents/agent-model.ts
  packages/reporter/src/attempts/attempt-model.ts
  packages/reporter/src/commands/command-model.ts
  packages/reporter/src/commands/command.tsx
  packages/reporter/src/errors/err-model.ts
  packages/reporter/src/header/stats-store.ts
  packages/reporter/src/hooks/hook-model.ts
  packages/reporter/src/instruments/instrument-model.ts
  packages/reporter/src/lib/app-state.ts
  packages/reporter/src/lib/flash-on-click.tsx
  packages/reporter/src/lib/switch.tsx
  packages/reporter/src/main-runner.scss.d.ts
  packages/reporter/src/routes/route-model.ts
  packages/reporter/src/runnables/runnable-model.ts
  packages/reporter/src/runnables/runnables-store.ts
  packages/reporter/src/runnables/suite-model.ts
  packages/reporter/src/sessions/sessions-model.ts
  packages/reporter/src/test/test-model.ts
  packages/reporter/tsconfig.json
  packages/reporter/webpack.config.ts
  packages/runner/webpack.config.ts
  yarn.lock
Labels: pkg/reporter

#30506 breaking: remove support for Next.js 10, 11, 12, and 13 for Cypress Component Testing
  cli/CHANGELOG.md
  npm/webpack-dev-server/cypress/e2e/next.cy.ts
  packages/scaffold-config/src/dependencies.ts
  packages/scaffold-config/test/unit/detect.spec.ts
  system-tests/projects/next-12.1.6/package.json
  system-tests/projects/next-12.1.6/yarn.lock
  system-tests/projects/next-12/package.json
  system-tests/projects/next-12/yarn.lock
  system-tests/projects/next-13-tsconfig/cypress/support/component.ts
  system-tests/projects/next-13-tsconfig/next.config.js
  system-tests/projects/next-13-tsconfig/package.json
  system-tests/projects/next-13-tsconfig/tsconfig.json
  system-tests/projects/next-13-tsconfig/yarn.lock
  system-tests/projects/next-13/next.config.js
  system-tests/projects/next-13/package.json
  system-tests/projects/next-13/yarn.lock
Labels: type: breaking change, topic: next, Cypress 14

#29680 fix: #29605 for display: contents parent visibility with correct width check
  .circleci/cache-version.txt
  cli/CHANGELOG.md
  packages/driver/cypress/e2e/dom/visibility.cy.ts
  packages/driver/cypress/e2e/issues/29605.cy.js
  packages/driver/cypress/fixtures/issue-29605.html
  packages/driver/src/dom/visibility.ts
Labels: Cypress 14

#30540 breaking: remove the cypress/angular-signals test harness. The changes incorporated in @cypress/angular-signals are now merged upstream into @cypress/angular and the package is no longer needed
  .circleci/cache-version.txt
  .circleci/workflows.yml
  CHANGELOG.md
  CONTRIBUTING.md
  cli/.eslintignore
  cli/.gitignore
  cli/CHANGELOG.md
  cli/package.json
  cli/scripts/post-build.js
  npm/angular-signals/.eslintignore
  npm/angular-signals/.eslintrc
  npm/angular-signals/.npmignore
  npm/angular-signals/.releaserc.js
  npm/angular-signals/CHANGELOG.md
  npm/angular-signals/README.md
  npm/angular-signals/package.json
  npm/angular-signals/rollup.config.mjs
  npm/angular-signals/src/index.ts
  npm/angular-signals/src/mount.ts
  npm/angular-signals/tsconfig.json
  npm/angular/package.json
  npm/angular/src/mount.ts
  system-tests/projects/angular-signals/cypress/support/component.ts
  system-tests/projects/angular-signals/src/signals-complex/signals-complex.component.cy.ts
  system-tests/projects/angular-signals/src/signals-optional/signals-optional.component.cy.ts
  system-tests/projects/angular-signals/src/signals-required/signals-required.component.cy.ts
  yarn.lock
Labels: type: breaking change, npm: @cypress/angular, Cypress 14

#30567 chore: update react in the reporter from 17.0.2 to 18.3.1
  cli/CHANGELOG.md
  npm/react18/src/index.ts
  package.json
  packages/app/src/runner/reporter.ts
  packages/driver/cypress/e2e/e2e/dom_hitbox.cy.js
  packages/driver/cypress/support/utils.ts
  packages/reporter/cypress/support/component.ts
  packages/reporter/package.json
  packages/reporter/src/main.tsx
  packages/runner/unified-runner.tsx
  system-tests/projects/protocol/cypress/support/component.ts
  yarn.lock
Labels: pkg/reporter, Cypress 14

#30654 feat: support Next 15 for Cypress Component Testing
  cli/CHANGELOG.md
  npm/webpack-dev-server/cypress/e2e/next.cy.ts
  packages/scaffold-config/src/dependencies.ts
  packages/scaffold-config/test/unit/detect.spec.ts
  system-tests/projects/next-14/package.json
  system-tests/projects/next-15-tsconfig-tailwind/.gitignore
  system-tests/projects/next-15-tsconfig-tailwind/README.md
  system-tests/projects/next-15-tsconfig-tailwind/app/globals.css
  system-tests/projects/next-15-tsconfig-tailwind/app/layout.tsx
  system-tests/projects/next-15-tsconfig-tailwind/app/page-styles.cy.tsx
  system-tests/projects/next-15-tsconfig-tailwind/app/page.cy.tsx
  system-tests/projects/next-15-tsconfig-tailwind/app/page.tsx
  system-tests/projects/next-15-tsconfig-tailwind/cypress.config.ts
  system-tests/projects/next-15-tsconfig-tailwind/cypress/support/component-index.html
  system-tests/projects/next-15-tsconfig-tailwind/cypress/support/component.ts
  system-tests/projects/next-15-tsconfig-tailwind/next.config.ts
  system-tests/projects/next-15-tsconfig-tailwind/package.json
  system-tests/projects/next-15-tsconfig-tailwind/postcss.config.mjs
  system-tests/projects/next-15-tsconfig-tailwind/tailwind.config.ts
  system-tests/projects/next-15-tsconfig-tailwind/tsconfig.json
  system-tests/projects/next-15-tsconfig-tailwind/yarn.lock
Labels: type: feature, npm: @cypress/react, topic: next, Cypress 14
